// Variables
$website-width: 1280px;
//$main-color: #28A228;
// $main-color: #157F1F;
$main-color: #28a745;
///$main-color: #5C9E34;
$secondary-color: #A7C957;
//$main-color: #4AA564;
$light-color: #FAFFFD;
$medium-color: #F5FBEF;
//$dark-color: #342E37;
$dark-color: #0B0F09;
$light-grey: #EFF2EF;
///$dark-color: #333;
///$bg-image: url('../img/header.jpg');
$bg-image: url('../img/mainHeader2.jpg');
//$bg-image: url('../img/50kheader.jpg');
$races-image: url('../img/50kheader.jpg');