@media(max-width: 1000px) {
    #home {
        &-a {

            .centered-text {
                font-size: 1rem;
                font-weight: 0;
            }

            a {
               padding: 0.6rem 1.2rem;
           }
        }
    }
}

@media(max-width:800px) {
    #about {
        &-b {
            .container {
                flex-direction: column;
                justify-content: center;
                align-items: center;
        
                .who-we-are {
                    width: 100%;
                    margin-bottom: 1.5rem;

                    h4 {
                        font-size: 1.6rem;
                    }

                    p {
                        font-size: 1.2rem;
                    }
                }
        
                .john {
                   width: 600px;
                }
            }
        }
    }
}

@media(max-width:500px) {
    #about {
        &-b {
            .container {
                flex-direction: column;
        
                .who-we-are {
                    width: 100%;
                    margin-bottom: 1.5rem;
                }
        
                .john {
                    width: 325px;
                }
            }
        }
    }

    #main-footer {
        font-size: 1.2rem;

        .footer-content {
            flex-direction: column;
        }

        .address {
            margin-top: 1.2rem;

            p.strong {
                font-size: 1.2rem;
                margin-bottom: 0;
            }
        }

        .footer-links {

            a:first-child {
                padding: .2rem 2rem;
            }
        }

        .social .fab {
            margin-top: 1rem;
            width: 25px;
        }

        .copyright {
            margin: 0 auto;
        }
    }
} // closes media query
    

//800px
//500px
