@media(max-width: 1000px) {
    #home {
        &-a {

            .centered-text {
                font-size: 1rem;
                font-weight: 0;
            }

            a {
               padding: 0.6rem 1.2rem;
           }
        }
    }
}