@import 'config';
@import 'utilities';

// General Styles
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background: #fff;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

h2, h3, h4 {
    //text-transform: uppercase; // capitalize first letters
}

img {
    width: 100%;
}

// Logo
#logo {
    width: 90px;
    height: 70px;
    color: #fff;
    text-transform: uppercase;
}


// Main Nav
#main-nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem;


    //navbar addition
    background: $dark-color;
    transition: .5s ease-in;
    position: fixed;
    width: 100%;
    z-index: 20;
    //navbar addition
    &.top {
        background: transparent;
        z-index: 20;
    }

    ul {
        display: flex;
        justify-content: space-between;
    }

    li {
        position: relative;
        padding: 1rem 1.5rem;
        font-size: 1.2rem;
        text-transform: uppercase;

        // Hide nested ul by default
        ul {
            display: none;
        }

        &:hover {
            cursor: pointer;
        }

        // Show Dropdown
        &:hover ul {
            display: block;
            position: absolute;
            left: 0;
            width: 125px;
            margin-top: 1rem;
            
        
            li {
                background: #fff;

                a {
                    color: #333; 
                    border-bottom: none;
                }
                
                &:hover {
                    background: #e0e0e0;
                    
                    //background: #fff;
                    color: inherit; 
                } 
            }
        }
    }

    a {
        //display: block; //makes underline the width of container
        font-size: 1.2rem;
        text-decoration: none;
        color: #fff;
        text-transform: uppercase;
        border-bottom: 3px transparent solid;
        padding-bottom: 0.5rem;
        transition: border-color .5s;
        cursor: pointer;

        &:hover {
            border-color: $medium-color;
        }

        &.current {
            border-color: $main-color;
        }
    }
}

// Header
#header {
    &-home {
        background: $bg-image no-repeat center right / cover;
        height: 50vh;
        color: #fff;
        position: relative; // overlay
        * {
            z-index: 10;
        }

        .header-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100%;
            justify-content: center;
            z-index: 0;

            h1 {
                font-size: 4rem;
                margin-bottom: 1.3rem;
            }

            p {
                font-size: 1.5rem;
                font-weight: bold;
                //margin-bottom: 2rem;
            }

            .btn-main {
                margin-top: 1%;
                color: #fff;
                font-size: 1.2rem;
                border: none;
                &:hover {
                    background:#136A1A;
                }
            }
        }

        &::before { // overlay
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,0.2);
        }
    }

    // Header Inner
    &-inner {
        //background: $dark-color;
        background: $bg-image no-repeat 20% 10% / cover;
        height: 6rem;
        border-bottom: 3px solid $main-color;
        position: relative; // overlay
        * {
            z-index: 10;
        }

        &::before { // overlay
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,0.2);
        }
    }
}


// Home Sections A, B, C
#home {

    // Section: A - The Races
    &-a {
        //background: $medium-color;
        .items {
            //box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 2rem;
            padding: 1rem;
        }

        .item-image {
            position: relative;
            text-align: center;
            color: #fff;
            box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
        
            .centered-text {
                position: absolute;
                top: 30%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 4rem;
            }

            .centered-btn {
                position: absolute;
                top: 65%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-weight: bold;

                &:hover {
                    //background: #d0cbcb;
                    //background: #ece9e9;
                    //border: 2px solid $main-color;
                    background: $dark-color;
                    color: #fff;
                }
            }

            &::before { // overlay
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(0,0,0,0.2);
            }

            &:hover {
                transform: scale(1) translateX(5px) translateY(5px); 
                box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);  
                // border-bottom: 4px solid $main-color; 
            }
        }

        

    }

    // Section: B - About Us
    &-b {
        //background: $medium-color;
        background: #d9ecc5;
        .about {
            //background-color: $medium-color;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 3rem;
            padding: 1rem;

            h2 {
                margin-bottom: 4rem;
                font-size: 2.3rem;
            }

            p {
                margin-bottom: 2.5rem;
            }

            a {
                color: #fff;

                &:hover {
                    background:#136A1A;
                }
            }
        }
    }

    // Section: C - Sponsors
    &-c {

        //background: $medium-color;
        .sponsor {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            //grid-gap: 1rem;
            //padding-left: 2rem;

            div:nth-child(11) {
                grid-column: 2 / span 1;
            }
        }

        .sponsor-logo {
            width: 175px;
            height: 175px;
            margin-top: 2.5rem;
            padding-left: 2.5rem;
            padding-right: 1rem;

        }
    }
}


// Contact Page
#contact {
    &-a {
        margin-bottom: 13rem;
        .text-fields {
            display: grid;
            grid-template-areas: 
            'name email'
            'subject phone'
            'message message';
            grid-gap: 1.2rem;
            margin-bottom: 1.2rem;

            .name-input {
                grid-area: name;
            }
            .email-input {
                grid-area: email;
            }
            .subject-input {
                grid-area: subject;
            }
            .phone-input {
                grid-area: phone;
            }
            .message-input {
                grid-area: message;
                height: 100px;
            }

            .text-input {
                padding: 0.5rem 1rem;
            }
        }

        button[type='submit'] {
            width: 50%;
            padding: 1rem;
            background: $main-color;
            color: #fff;
            font-size: 1rem;
            cursor: pointer;
            &:hover {
                background:#136A1A;
            }
        }

        p {
            margin-bottom: 1.4rem;
        }
    }

    &-b {
        .contact-info {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            text-align: center;
            color: #fff;

            a {
                color: #fff
            }

        }
    }

    &-c {
        h1 {
            text-align: center;
            font-size: 3rem;
            color: #fff;
            padding: 4rem;
        }
    }
}


// Footer
#main-footer {
    background: $dark-color;
    color: #fff;
    padding: 2rem 0;

    .footer-content {
        display: flex;
        justify-content: space-between;
        //height: 5rem;
        align-items: center;

    }

    .address {
        text-align: center;  
        
        p {
            line-height: 1.8;
        }

        p.strong {
            font-size: 1.3rem;
            margin-bottom: 1rem;
        }
    }

    .footer-links {
        display: flex;
        flex-direction: column;
        text-align: center;
        line-height: 2;
     
        a {
            color: #fff;

            border-bottom: 3px transparent solid;
            //padding-bottom: 0.5rem;
            transition: border-color .5s;

            &:hover {
                border-color: $main-color;
            }

        }
    }

    .social .fab {
        margin-right: 1.2rem;
        //border: 2px #fff solid;
        //border-radius: 50%;
        height: 20px;
        width: 20px;
        line-height: 20px;
        text-align: center;
        //padding: 1rem;
        color: #fff;
        font-size: 1.7rem;

        &:hover {
            color: $main-color;
        }
    }

    .copyright {
        padding-top: 2rem;
        font-size: 1rem;
        text-align: center;
        margin: 0 5rem 0 11rem;
    }

}
