@import 'config';
@import 'utilities';

// General Styles
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background: #fff;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

h2, h3, h4 {
    //text-transform: uppercase; // capitalize first letters
}

img {
    width: 100%;
}

// Logo
#logo {
    width: 90px;
    height: 70px;
    color: #fff;
    text-transform: uppercase;
}


// Main Nav
#main-nav {
    display: flex;
    justify-content: space-between;
    padding: 1rem;


    //navbar addition
    background: $dark-color;
    //opacity: .5;
    transition: .5s ease-in;
    position: fixed;
    width: 100%;
    z-index: 20;
    //navbar addition
    &.top {
        background: transparent;
    }

    ul {
        display: flex;
        justify-content: space-between;
    }

    li {
        position: relative; // relative to the li postition
        padding: 1rem 1.5rem;
        font-size: 1.2rem;
        text-transform: uppercase;

        // Hide nested ul by default
        ul {
            display: none;
        }

        &:hover {
            cursor: pointer;
        }

        // Show Dropdown
        &:hover ul {
            display: block;
            position: absolute;
            left: 0;
            width: 125px;
            margin-top: 1rem;
        
            li {
                background: $medium-color;

                a {
                    color: #333; 
                    border-bottom: none;
                }
                
                &:hover {
                    background: #e0e0e0;
                    //background: #fff;
                    color: inherit; 
                } 
            }
        }
    }

    a {
        //display: block; //makes underline the width of container
        font-size: 1.2rem;
        text-decoration: none;
        color: #fff;
        text-transform: uppercase;
        border-bottom: 3px transparent solid;
        padding-bottom: 0.5rem;
        transition: border-color .5s;
        cursor: pointer;

        &:hover {
            border-color: $medium-color;
        }

        &.current {
            border-color: $main-color;
        }
    }
}

// Header
#header {
    &-home {
        background: $bg-image no-repeat center right / cover;
        height: 50vh;
        color: #fff;
        position: relative; // overlay
        * {
            z-index: 10;
        }

        .header-content {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100%;
            justify-content: center;
            // text-align: center;
            // padding-top: 5%;
            // position: relative;
             z-index: 0;

            h1 {
                font-size: 4rem;
                margin-bottom: 1.3rem;
            }

            p {
                font-size: 1.5rem;
                font-weight: bold;
                //margin-bottom: 2rem;
            }

            .btn-main {
                margin-top: 1%;
                color: #fff;
                font-size: 1.2rem;
                border: none;
                //transition: all .5s ease-out;
                &:hover {
                    background:#136A1A;
                    //color: $dark-color;
                }
            }
        }

        &::before { // overlay
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,0.2);
        }
    }
}


// Home Sections A, B, C
#home {

    // Section: A - The Races
    &-a {
        //background: $medium-color;
        .items {
           
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 2rem;
            padding: 1rem;
        }

        .item-image {
            //border: 1px solid black;
            position: relative;
            text-align: center;
            color: #fff;

            .centered-text {
                position: absolute;
                top: 30%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 4rem;
            }

            .centered-btn {
                position: absolute;
                top: 65%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-weight: bold;

                &:hover {
                    background: #d0cbcb;
                }
            }

            &::before { // overlay
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 98%;
                background: rgba(0,0,0,0.2);
            }
        }

        

    }

    // Section: B - About Us
    &-b {
        background: $medium-color;
        .about {
            // background-color: $medium-color;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 3rem;
            padding: 1rem;

            h2 {
                //border: 1px solid black;
                margin-bottom: 4rem;
                font-size: 2.3rem;
            }

            p {
                margin-bottom: 2.5rem;
            }

            a {
                color: #fff;

                &:hover {
                    background:#136A1A;
                }
            }
        }
    }

    // Section: C - Sponsors
    &-c {

        //background: $medium-color;
        .sponsor {
            //border: 1px solid black;
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            //grid-gap: 1rem;
            // padding-left: 2rem;

            div:nth-child(11) {
                grid-column: 2 / span 1;
            }
        }

        .sponsor-logo {
            //border: 1px solid black;
            width: 175px;
            height: 175px;
            margin-top: 2.5rem;
            padding-left: 2.5rem;
            padding-right: 1rem;

        }
    }
}


// Footer
#main-footer {
    background: $dark-color;
    color: #fff;
    //height: 5rem;
    padding: 2rem 0;

    .footer-content {
        display: flex;
        justify-content: space-between;
        //height: 5rem;
        align-items: center;

    }

    .address {
        text-align: center;  
        
        p {
            line-height: 1.8;
        }

        p.strong {
            font-size: 1.3rem;
            margin-bottom: 1rem;
        }
    }

    .footer-links {
        display: flex;
        flex-direction: column;
        text-align: center;
        line-height: 2;
     
        a {
            color: #fff;

            border-bottom: 3px transparent solid;
            //padding-bottom: 0.5rem;
            transition: border-color .5s;

            &:hover {
                border-color: $main-color;
            }

        }
    }

    .social .fab {
        margin-right: 1.2rem;
        //border: 2px #fff solid;
        //border-radius: 50%;
        height: 20px;
        width: 20px;
        line-height: 20px;
        text-align: center;
        //padding: 1rem;
        color: #fff;
        font-size: 1.7rem;

        &:hover {
            color: $main-color;
        }
    }

    .copyright {
        padding-top: 2rem;
        font-size: 1rem;
        text-align: center;
        margin: 0 5rem 0 11rem;
    }

}
